// @import "libraries/bourbon/bourbon";
@import "libraries/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "libraries/neat/_neat.scss";
// @import "libraries/refills/refills";

// @import "libraries/bourbon/app/assets/stylesheets/_bourbon.scss";
// @import "_reset.scss";
//
// @import "_variables.scss";
//
// @import "_mixins.scss";

//setting variables//
// $mainColor:
$primaryColor: #661b24;
$cupboardColor: #9e7937;
$font:'Timber', sans-sefif;
$secondFont:'Bookman Old Style', sans-serif;
$mobile: new-breakpoint(max-width 490px 4);

// @import "scss/brian";

.top {
  font-family: $font;
  color: $primaryColor;
  font-size: 100px;
  text-align: center;
  padding-top: 10px;
}
// .search {
//   font-size: 30px;
//   font-family: $font;
//   font-color: #3f3c3a;
//   float: right;
//   text-align: right;
//
// }
.select {
  font-size: 25px;
  font-style: $font;
  font-color: #3f3c3a;
  text-align: center;
}

input[type=text] {
  background-color: #87a296;
  font-size: 60px;
  font-family: $font;
  font-color: $cupboardColor;
  width: 600px;
  height: 80px;
  text-align: center;
}

input[type=password]{
  background-color: #87a296;
  font-size: 60px;
  font-family: $font;
  font-color: $cupboardColor;
  width: 600px;
  height: 80px;
  text-align: center;

}
.sButton {
  border-radius: 50px;
  padding: 10px;
  font-family: $font;
  font-color: $primaryColor;
  font-size: 40px;
  background-color: #2d783b;
  border-color: black;
}
.registration {
  border-radius: 50px;
  padding: 10px;
  font-family: $font;
  font-color: $primaryColor;
  font-size: 40px;
  background-color: #2d783b;
  border-color: black;
}
.ng-view {
  font-color: black;
}
a {
  text-decoration: none;
  font-color: none;
}
.deleteB {
  font-family: $font;
  font-color: $primaryColor;
  font-size: 14px;
  background-color: #661b24;
}
.wedgeClass {
  font-family: $font;
  border-radius: 10px;
  font-color: $primaryColor;
  font-size: 10px;
  background-color: #87a296;
  text-align: center;
}
.eastsideClass {
  border-radius: 10px;
  font-family: $font;
  font-color: $primaryColor;
  font-size: 12px;
  background-color: #87a296;
  text-align: center;
}
.sewardClass {
  border-radius: 10px;
  font-family: $font;
  font-color: $primaryColor;
  font-size: 12px;
  background-color: #87a296;
  text-align: center;
}
li {
 list-style: none;
}

#loginForm {
  color: $primaryColor;
  font-family: $font;
  font-size: 60px;
}
h1 {
  font-size: 45px;
  text-align: center;
  font-family: $font;
  color: $primaryColor;
  height: 50px;
}

p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-family: 'Palatino Linotype';
  font-color: #3f3c3a
  // color: $primaryColor;
}
.jumbotron {
  display: center;
}
.signinPage {
  background: url(WhitePowderBag.png) repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: $font;
  font-color: $primaryColor;
  background-color: #ead8c3;
}
body {
  font-family: $font;
  font-color: $primaryColor;
}
.container {
  background: url(talcum-white-large.png) repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
img {
  // padding: 10px;
  // margin: 5px;
  display: center;

}
.E {
// @include span-columns(6);
font-size: 25px;
font-color: #3f3c3a;
font-family: $font;
float: right; width: 20%; height: 70px;

// @include span-columns(10);

  }
.S {
// @include span-columns(6);
font-size: 25px;
font-color: #3f3c3a;;
font-family: $font;
// float: left; width: 50%;
float: right; width: 20%; height: 50px;
}
// @include span-columns(10);


.W {
// @include span-columns(6);
font-size: 25px;
font-color: #3f3c3a;
font-family: $font;
float: right; width: 33%; height: 60px;
// @include span-columns(10);

}
.cupboard {

  font-family: $font;
  font-size: 20px;
  font-color: #3f3c3a;
  // float: right; width: 33%; height: 60px;

    }
.logout {
  font-family: $font;
  font-size: 20px;
  // float: right; width: 20%; height: 50px;
  font-color: #3f3c3a;
}
.home {
  font-family: $font;
  font-size: 20px;
  font-color: #3f3c3a;
  // float: right; width: 20%; height: 70px;
}
.eastsideTitle {
  font-size: 12px;
  text-align: center;

}
.wedgeTitle {
  font-size: 12px;
  text-align: center;
}
.sewardTitle {
  font-size: 12px;
  text-align: center;
}
.displayWedge {
  font-size: 11px;
  display: center;
}
.userArea {
  font-size: 11px;
  display: center;
}
.displayEastside {
  font-size: 11px;
  display: center;
}
.displaySeward {
  font-size: 11px;
  display: center;
}
