<!DOCTYPE html>
<html ng-app="whiteApp">

  <head>
    <meta charset="utf-8">
    <title>White Powders App</title>
    <script src="vendors/angular/angular.min.js"></script>
    <script src="vendors/angular-route/angular-route.min.js"></script>
    <script src="assets/scripts/client.min.js"></script>
    <link rel="stylesheet" href="views/style.css"/>
    <link rel="stylesheet" href="views/application.scss"/>
    <base href="/"/>

  </head>

      <div class="top">NAME THAT WHITE POWDER: A Co-op Bulk Aisle Support App </div>
      <div class="select"> 1. Select the co-op you think your white powder came from
        2. Simply search by co-op name and PLU number </div>

<!-- <img src="views/WhitePowderBag.png" alt="Logo image" height="375px" width="250px"> -->


      <div class="button"><a href="/userCupboard" class="cupboard">View Cupboard</a></button>
      <div class="button"><a href="/logout" class="logout" target="_self">Log Out</a></button>
      <div class="button"><a href="/"class="home">Home</a></button>
</div>
</div>
</div>
  <!-- <img src="views/WhitePowderBag.png" alt="logo image" height="300px" width="225px"> -->


</div>
  <body class="container" ng-controller= "HomeController as home">
  <div class="navigation">

            <div class="button"><div class="E"><a href="/eastsideView">Eastside</a></div></button>
            <div class="button"><div class="S"><a href="/sewardView">Seward </a></div></button>
            <div class="button"><div class="W"><a href="/wedgeView">The Wedge</a></div></button>
       </div>

     </div>
</div>
</div>
 </div>
<div ng-view>
</div>
<footer>
<!-- <p> Created by Libby London, Minneapolis, MN @2016</p> -->
</footer>
</body>
</html>
