<!DOCTYPE html>
<html ng-app="whiteApp">
  <head>
    <meta charset="utf-8">
    <title>White Powders App</title>
    <script src="vendors/angular/angular.min.js"></script>
    <script src="vendors/angular-route/angular-route.min.js"></script>
    <script src="assets/scripts/client.min.js"></script>
    <link rel="stylesheet" href="views/style.css"/>
    <link rel="stylesheet" href="views/application.scss"/>
    <base href="/"/>
  </head>
  <div class="jumbotron">
    <h1>NAME THAT POWDER: A Co-op Bulk Aisle Support App </h1>
<h2> Which white powder are you searching for today?
  Select your co-op below: </h2>
</div>
  <body class="container" ng-controller= "HomeController as home">

<nav class="navbar navbar-default">
      <div class="container">
        <ul class="nav navbar-nav">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/eastsideView">Eastside Co-op</a>
            <li>
              <a href="/sewardView">Seward Friendship Co-op</a>
            </li>
            <li>
              <a href="/wedgeView">Wedge Co-op</a>
            </li>
            <li>
              <a href="/userCupboard">View Your Cupboard</a>
            </li>
          </ul>
        </div>
      </div>
      </nav>
<div ng-view>
</div>
</body>
</html>
