<!DOCTYPE html>
<html ng-app="whiteApp">
  <head>
    <meta charset="utf-8">
    <title>White Powder Finder</title>
    <script src="vendors/angular/angular.min.js"></script>
    <script src="vendors/angular-route/angular-route.min.js"></script>
    <script src="assets/scripts/client.min.js"></script>
    <link rel="stylesheet" href="views/style.css"/>
    <!-- <base href="/" /> -->
  </head>
  <body class="container" ng-controller="LoginController as login">
    <h2>  White Powder Finder:
      A Co-op Bulk Aisle Support App </h2> </br>
    <h1> Log in space  </h1>
    <form id="loginForm" action="/" method="POST">
      <label for="username"> Username: </label>
      <input type="text" name="username" id= "username" />
    </div>
    <div>
      <label for "password"> Password: </label>
      <input type="password" name="password" id="password"/>
    </div>
    <div>
      <input type="submit"/>
      <a href="/register">Register</a>

    </div>
  </form>
</body>
<html>
