<!DOCTYPE html>
<html ng-app="whiteApp">


  <head>
    <meta charset="utf-8">
    <title>White Powder Finder</title>
    <script src="vendors/angular/angular.min.js"></script>
    <script src="vendors/angular-route/angular-route.min.js"></script>
    <script src="assets/scripts/client.min.js"></script>
    <link rel="stylesheet" href="views/style.css"/>
    <link rel="stylesheet" href="views/application.scss"/>

</head>
    <!-- <base href="/" /> -->
    <div class="top"> NAME THAT POWDER:
  A Co-op Bulk Aisle Support App</div>
  <div class="jumbotron">
    <p>For those times when you buy a white colored spice in the bulk aisle and forget to write down it's name on the bag </p>
  </div>
      <!-- <img src="views/WhitePowderBag.png" alt="Logo image" height="250px" width="175px"> -->
  <body class="signinPage" ng-controller="LoginController as login">
    <form id="loginForm" action="/" method="POST">
      <div class="username">
      <label for="username"> Username: </label>
      <input type="text" name="username" id= "username" class="idk"/>
</div>
    <div class="password">
      <label for "password"> Password: </label>
      <input type="password" name="password" id="password"/>
    </div>
    <input type="submit" name="submitting" class="sButton"/>

    <a href="/register" name="registering" class="registration">Register</a>

  </div>
  </form>
</body>
<html>
